.callout {
    background-color: #1f3b75;
    color: white;
    border: 1px solid #ccc;
    max-width: 500px;
    padding: 20px;
    position: absolute;
}

.callout img {
	float: right;
    border: 1px solid white;
    border-radius: 5px;
    margin-left: 10px;
}

blockquote {
	margin: 0;
    font-size: 16px;
    font-style: italic;
}

cite {
    display: block;
	text-align: right;
    font-style: italic;
    color: #dcdcdc;
    margin-top: 10px;
    border-top: 1px solid #dcdcdc;
    padding-top: 5px;
    
}