body {
    font-family: sans-serif;
    margin: 0;
  }
  header {
    background: purple;
    height: 100px;
  }
  h1 {
    text-align: center;
    color: white;
    line-height: 100px;
    margin: 0;
  }
  section {
    zoom: 0.8;
    display: flex;
    flex-flow: row wrap;
    /* flex-direction: column; the default value for the 'display: flex' is 'row'. By using 'column' the elements will be 
    organized in block */
} 
  article {
    padding: 10px;
    margin: 10px;
    background: aqua;
    flex: 1 100px; /*This is a unitless proportion value that dictates how much available space along the main axis each flex item will take up compared to other flex items. */
  }

  /* article:nth-of-type(3) {
    flex: 2 100px;
  } */
  /* Add your flexbox CSS below here */